
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: .94rem;
}

body {
  background-image:linear-gradient(rgb(0,0,0,0.75), rgb(0,0,0,0.75)), url(./images/pokebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* ----------------------heding section---------------- */

.pokeball {
    width: 4em;
    border-radius: 50%;
    margin-top: -.6em;
}

.pokemonlogo {
    width: 15em;
}

.mainlogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------ */

.wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 2em;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 0.727);
    border-radius: 1em;
}


/* -----------Search Section------------------------ */

.searchsection {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.41);
    padding-bottom: 1em;
}

.searchsection .searchbar {
    flex-shrink: 2;
    flex-basis: 90%;
    border-radius: .2em;
}

.searchbar input {
    width: 100%;
    font-size: 1.2em;
    background-color: whitesmoke;
    border-radius: .3em;
    padding: .5em;
    padding-left: 6px; padding-right: 6px;
    border: none;
}

.searchbar input:focus {
    outline: invert;
    outline-color: rgba(39, 39, 39, 0.396);
}

.searchbar button {
    font-size: 1em;
    padding: 0 .3em;
    border-radius: .3em;
    border-color: rgba(39, 39, 39, 0.396);
}

.searchbar button:hover {
    cursor: pointer;
}

.searchsection .icons {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
}

.icons img {
    width: 2.2em;
}
/* -------------------------------------------------------- */


/* -----------------Editing section--------------------- */
.editsection {
    display: none;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.41);
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.editinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.editinfo p{
    font-size: 1em;
    background-color: rgba(245, 245, 245, 0.046);
    padding: .5em;
    border-radius: .3em;
    margin-bottom: .7em;
}

.editable {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    flex-basis: 90%;
}

.editable label, .editable button {
    font-size: 1em;
}

.editsection button {
    padding: 4px;
    border-radius: .5em;
    color: rgb(123, 120, 120);
    border-color: rgba(39, 39, 39, 0.396);
}
.editsection button:hover {
    cursor: pointer;
    border-color: whitesmoke;
    background-color: rgba(4, 249, 188, 0.902);
    color: black;
}

.editicon:hover {
    cursor: pointer;
    border:3px solid rgb(0, 191, 255);
    border-radius: 50%;
}

.cross img {
    width: 2.2em;
    flex-basis: 10%;
}

#pokeid, #pokename, #pokeurl {
    font-size: 1em;
    background-color: whitesmoke;
    border-radius: .3em;
    padding: 2px;
    border: none;
}

#pokeid {
    width: 25%;
}

#pokename {
    width: 60%;
}

#pokeurl {
    width: 100%;
}

/* ----------------------------------------------------- */


/* -------------------Tabel------------------------ */
tbody tr td img {
    width: 1.8em;
}

tbody tr td img:hover, .cross img:hover {
    cursor: pointer;
    border:3px solid rgb(255, 0, 0);
    border-radius: 50%;
}

table {
    border: 2px solid rgba(0, 0, 0, 0.41);
    width: 90%;
    margin: auto;
    margin-top: 1em;
    border-radius: .2em;
    margin-bottom: 1em;
}
   

table th {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.41);
    font-size: 1.1em;
    border-right: 1px solid rgba(0, 0, 0, 0.41);
}

table th img:first-child{
    width: 1em;
    margin-right: .5em;
}
table th img:last-child{
    width: 1em;
    margin-left: .5em;
}

table th img:first-child:hover, table th img:last-child:hover {
    cursor: pointer;
    border: 2px solid rgb(126, 126, 126);
}

.pokemonimage {
    width: 2.5em;
    border-radius: 50%;
}

.pokemonimage:hover {
    cursor: auto;
    border:none;
}

.pokeimgname {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}


.tableinfo td {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2em;
    border-right: 1px solid rgba(0, 0, 0, 0.41);
    padding-bottom: 1em;
}


.pokeID:hover, .pokeName:hover {
    cursor: pointer;
}


table th:last-child, .tableinfo td:last-child {
    border-right: none;
}

.tableinfo td a {
    text-transform: lowercase;
    text-decoration: none;
    color: rgba(45, 48, 48, 0.807);
}

.tableinfo tr td {
    padding-top: 1em;
}

.tableinfo td a:hover {
    color: black;
    text-decoration: underline;
}

/* ------------------------------------------------- */


/* ------------------------Footer---------------- */

footer {
    margin-top: 1em;
    padding: .5em;
    background-color: rgba(245, 245, 245, 0.727);
    text-align:center;
    font-size: 1em;
    border-radius: .2em;
    color: rgb(83, 83, 83);
}


/* --------------------------------------------- */


@media (max-width: 970px) {

    .wrapper {
        width: 90%;
    }

}

